.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.canvas {
    /* width: 50%; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding: 0 0.6rem 0.7rem 0.3rem
}

.canvas_for_script {
    width: 100%;
    padding: 1rem;
}

.select_language {
    outline: none;
    border-radius: 4px;
    padding: 3px;
    color: white;
    background: #161c24;
    margin: 10px;
    display: inline-block;
    width: auto;
    height: 30px;
}

.neumorphic_button_container {
    width: fit-content;
    margin: auto;
}

.neumorphic_button {
    height: 45px;
    width: 45px;
    margin: 6px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 22%;
    box-shadow: 2px 2px 1px #b87333, -1.5px -1.5px 0.7px rgb(0 0 0 / 50%);
    transition: box-shadow .25s;
}

.normal_button {
    background: transparent;
    border: none;
    /* height: 25.5px;
    width: 22.5px; */
    height: 45px;
    width: 45px;
    margin: 6px;
}

.sound {
    float: right;
}

.neumorphic_button:hover {
    box-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.output {
    /* flex: 1 1 auto;
  display: flex;
  overflow: auto;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-radius: 10px; */
    /* padding-left: 2.2vh; */
    /* padding: 1.3vh;
  color: #9aa2aa;
  white-space: pre;
  tab-size: 16px;
  font-family: Arial, Helvetica, sans-serif; */
    /* background-color: rgba(0, 0, 0, .5); */
    /* background: #212B36;
  backdrop-filter: blur(0.5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; */
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
    /* margin-top: 2vh; */
    /* margin-left: 0.8vh;
    margin-right: 0.8vh; */
    margin-left: -0.2vh;
    margin-right: -0.2vh;
    /* margin-bottom: 1vh; */
    background-size: cover;
    /* border-radius: 10px; */
    padding-left: 2.2vh;
    padding-top: 1.3vh;
    color: seashell;
    white-space: pre;
    tab-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #212B36;
    backdrop-filter: blur(0.5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.output_for_script {
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    /* padding-left: 2.2vh; */
    padding: 1.3vh;
    color: #9aa2aa;
    white-space: pre;
    tab-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgba(0, 0, 0, .5); */
    background: #212B36;
    backdrop-filter: blur(0.5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 90%;
    min-height: 9rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    left: -37px;
    bottom: -30px;
    z-index: 1;
}

.tooltip:active,
.tooltip:hover .tooltiptext {
    visibility: visible;
    outline: none;
}

@media screen and (max-width: 601px) {
    .neumorphic_button {
        height: 31px;
        width: 31px;
        margin: 3px;
    }

    .neumorphic_button img {
        margin: -8px;
    }

}

/* @media (orientation: landscape) {
  #sprite {
    height: 15rem;
    object-fit: revert;
  }
} */

@media (orientation: portrait) {
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .container>div:last-of-type {
        margin-top: auto;
    }
}

.editor {
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../public/assets/Reflection_transparent.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(0.25px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.lessonDetailsDiv {
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lessonTitle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* .blocklycontainer {
  height: "93%";
  display: "flex";
} */

.backbtn {
    color: #000;
    min-width: 50px;
    padding: 6px 0px;
}

.lesson_div {
    display: flex;
}

.description {
    font-size: 14px;
    font-weight: 300;
    font-family: Public Sans;
}

.select_language {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Public Sans;
    font-weight: 600;
    color: #919EAB;
}

.select_language:focus {
    border: none;
    outline: none;
}

.blocklybunny {
    display: grid;
    height: 93%;
    grid-template-columns: repeat(2, 1fr);
}

.lesson_name {
    fontSize: "18px";
    fontWeight: "700";
    fontFamily: "Public Sans";
}

@media screen and (max-width: 600px) {
    .blocklycontainer {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .canvas {
        width: 100%;
        height: auto;
        padding: 0 0.5rem 0.2rem 0.5rem;
    }

    .fill-blockly {
        width: 100%;
        height: calc(95vh - (9/16*95vw));
    }

    /*.lessonDetailsDiv {
       height: auto;
        flex-direction: column; 
}*/

    /* .editor {
        pointer-events: none;
    } */

    .lessonTitle {
        height: auto;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
    }

    .lesson_div {
        width: 100%;
    }

    .select_languageDiv {
        position: absolute;
        top: 0;
        right: 0;
    }

    .backbtn {
        min-width: 30px;
    }

    .description {
        margin: 0px 10px;
    }

    .output {
        /* display: none; */
        max-height: 12rem;
        overflow-y: auto;
    }

    .blocklybunny {
        display: flex;
        flex-direction: column;
    }

    .description,
    .lesson_name {
        display: none;
    }
}