.open_code_editor {
    border-radius: 16px;
    background-color: #212B36;
    height: 100%;
    font-size: 1.5rem;
    margin-left: 1rem;
}

@media screen and (max-width: 600px) {

    .open_code_editor {
        /* pointer-events: none; */
        margin: 0 1rem;
    }

}